body {
  margin: 0;
  text-align: center;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-image: -webkit-linear-gradient(270deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('/img/Stars.jpg');
  background-image: linear-gradient(180deg, rgba(9, 14, 27, .45), rgba(9, 14, 27, .45)), url('/img/Stars.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}
a:hover {
  outline: 0;
}
.nav {
  position: fixed;
  text-align: center;
  left: 0px;
  top: 60px;
  right: 0px;
  width: 100%;
  background-color: transparent;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: sofia-pro, sans-serif;
  color: #fff;
  text-align: center;
}

.nav-link {
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: futura-pt, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-link:hover {
  box-shadow: inset 0 -2px 0 0 #fff;
}

.nav-link.w--current {
  box-shadow: inset 0 -2px 0 0 #fff;
  color: #fff;
}

a {
  background-color: transparent;
  color: white;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}

.header {
  position: absolute;
  left: 0px;
  top: 20%;
  right: 0px;
  z-index: 10;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 1em;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 1px 1px 19px #000;
}
.card{
  top: 40%;
  background: none;
  color: white;
}

.clientWrapper{
   width: 30%;
   border-radius: 0.5rem;
   overflow: hidden;
   box-shadow: 0 0 2rem rgba(black, 0.25);
   margin: calc(10% / 6);
   background: white;
}
.wrapperOfThings{
  display: flex;
  flex-wrap: wrap;
}
.styleCard{
   width: auto;
   border-radius: 0.5rem;
   overflow: hidden;
   box-shadow: 0 0 2rem rgba(black, 0.25);
   margin: calc(10% / 6);
   background: white;
   height:auto;
   font-family: 'Exo', sans-serif;
   font-size:28px;
}
form {
  background:#fff;
  border-radius:6px;
  padding:20px;
  padding-top:30px;
  width: auto;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
  color: black;
}
input{
    width:100%;
    background:#f5f5f5;
    border:0;
    padding:20px;
    border-radius:6px;
    margin-bottom:10px;
    border:1px solid #eee;
}
button {
  position:relative;
  width:100%;
  padding:20px;
  border-radius:6px;
  font-family:"Helvetica Neue", Helvetica, Arial;
  border:0;
  background:#f26964;
  font-size:1.2em;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,.1);
  box-shadow:0px 3px 0px #c1524e;
}
button:active {
  top:3px;
  box-shadow:none;
}
