<h1 class="header">Welcome Here Mate</h1>
<br>
<br>
<br>
<br>
<a href="/clients">View Clients</a>



<form action="/stylist/:id" method="post">

    <button type="submit" class="btn btn-info" id="delete-stylist">Delete this stylist</button>

</form>
